ACCESS_TOKEN_SECRET= <Your secret access token goes here. You can use node like this to generate one: require("crypto").randomBytes(64).toString("hex")" >
DATABASE_URI="<Your Mongo database connection string goes here.>"