<div class="author">
  <h1 class="author__heading">Chat</h1>
</div>

<div class="chat-container">
  <header class="chat-header">
    <div class="left-elements">
      <h1><i class="fas fa-comments"></i></h1>
      <h1 id="room-name"></h1>
    </div>
    <a href="/chatrooms" class="btn">Leave Room</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3><i class="fas fa-users"></i> Users</h3>
      <ul id="users">
        <!-- populated from main.js -->
      </ul>
    </div>
    <div class="chat-messages"></div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
      />
      <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
    </form>
  </div>
</div>

<!-- Query string library -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js"
  integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>
