<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/logo.jpeg" alt="" />
  </div>
  <div class="headings">
    <h2>Philosofriends</h2>
    <h3>A different social media</h3>
    <a href="/chatrooms" class="btn">View Chatrooms</a>
  </div>
</header>

<%- include('partials/footer'); -%>
